name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    env:
      KUBECONFIG: '${{ github.workspace }}/.kube/config'
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v2

      # TODO build and run unit tests

      #- name: Build images
       # timeout-minutes: 10
        #run: docker compose build
        
      - name: Build images
        timeout-minutes: 10
        run: |
          docker-compose build postgres
          docker-compose build gatewayservice
          docker-compose build rentalservice
          docker-compose build paymentservice
          docker-compose build carsservice
      
      - name: Setup db
        run: |
          docker-compose up -d postgres
          docker-compose logs postgres
          sleep 5
          cd postgres
          psql "user=postgres hostaddr=127.0.0.1 port=5432 password=postgres" < scripts/db-v3.sql
          cd ..
          cd app/scripts_DataBase
          psql "user=postgres hostaddr=127.0.0.1 port=5432 password=postgres" < create_tables.sql
          psql "user=postgres hostaddr=127.0.0.1 port=5432 password=postgres" < fill_cars_table.sql
          cd ..
          
      #- name: Run containers
       # timeout-minutes: 5
        #run: |
         # docker compose up -d
          #./scripts/wait-script.sh
        #env:
         # WAIT_PORTS: 8080,8070,8060,8050
         
      - name: Run containers
        timeout-minutes: 10
        run: |
          docker-compose up -d rentalservice
          docker-compose up -d paymentservice
          docker-compose up -d carsservice
          docker-compose up -d gatewayservice

          docker-compose logs rentalservice
          docker-compose logs paymentservice
          docker-compose logs carsservice
          docker-compose logs gatewayservice

          chmod +x ./scripts/wait-for.sh
          chmod +x ./scripts/wait-script.sh
          ./scripts/wait-script.sh
        env:
          WAIT_PORTS: 8080,8070,8060,8050
      
      - name: Wait 15s
        uses: jakejarvis/wait-action@master
        with:
          time: '15s'
          
      - name: Run API Tests
        uses: matt-ball/newman-action@master
        with:
          # TODO insert your variant
          collection: v3/postman/collection.json
          environment: v3/postman/environment.json
          delayRequest: 100
          reporters: '[ "cli" ]'

      - name: Install Minikube
        run: |
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube
      
      - name: Start Minikube
        run: |
          minikube start --driver=docker
          minikube addons enable ingress
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Build and publish images
        timeout-minutes: 15
        run: |
          docker build -t ondubovickaya/rsoi_carsservice:v1 -f app/services/carsService/Dockerfile app/services/carsService
          docker build -t ondubovickaya/rsoi_gatewayservice:v1 -f app/services/gatewayService/Dockerfile app/services/gatewayService
          docker build -t ondubovickaya/rsoi_rentalservice:v1 -f app/services/rentalService/Dockerfile app/services/rentalService
          docker build -t ondubovickaya/rsoi_paymentservice:v1 -f app/services/paymentService/Dockerfile app/services/paymentService
          
          docker push ondubovickaya/rsoi_carsservice:v1
          docker push ondubovickaya/rsoi_gatewayservice:v1
          docker push ondubovickaya/rsoi_rentalservice:v1
          docker push ondubovickaya/rsoi_paymentservice:v1
      
      - name: Deploy services
        run: |
          kubectl create deployment cars-service --image=ondubovickaya/rsoi_carsservice:v1 --port=80 --kubeconfig=$KUBECONFIG
          kubectl create deployment gateway-service --image=ondubovickaya/rsoi_gatewayservice:v1 --port=80 --kubeconfig=$KUBECONFIG
          kubectl create deployment rental-service --image=ondubovickaya/rsoi_rentalservice:v1 --port=80 --kubeconfig=$KUBECONFIG
          kubectl create deployment payment-service --image=ondubovickaya/rsoi_paymentservice:v1 --port=80 --kubeconfig=$KUBECONFIG
          
          kubectl expose deployment cars-service --type=NodePort --target-port=80 --kubeconfig=$KUBECONFIG
          kubectl expose deployment gateway-service --type=NodePort --target-port=80 --kubeconfig=$KUBECONFIG
          kubectl expose deployment rental-service --type=NodePort --target-port=80 --kubeconfig=$KUBECONFIG
          kubectl expose deployment payment-service --type=NodePort --target-port=80 --kubeconfig=$KUBECONFIG
      
      - name: Deploy database
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm install my-database bitnami/postgresql --set postgresqlDatabase=my-database --kubeconfig=$KUBECONFIG
      
      #- uses: education/autograding@v1
       # id: autograder
       # continue-on-error: true

      #- name: Github auto grader mark
       # uses: Romanow/google-sheet-autograder-marker@v1.0
       # with:
        #  google_token: ${{secrets.GOOGLE_API_KEY}}
        #  sheet_id: "1xkgjUX6Qmk7rdJG-QPOToav-HWWtthJjnShIKnw3oIY"
        #  homework_number: 2
        #  user_column: 'D'
        #  column_offset: 'F'
        #  mark: "'+"

      - name: Stop containers
        if: always()
        continue-on-error: true
        run: docker compose down -v
